
include header.pug
body
  

  
  .flex-container
    .left-content
      h1 Items
      // Button to show add form, now using Bootstrap classes
      button.btn.btn-success#addNewItemButton() Add Item
      // Search bar
      input#itemSearch(type='text', class='form-control mb-3', placeholder='Search items...')
      ul.items-list.list-group
      // Your list items will be populated here as before
    .right-content
      h1 Containers
      // Your right side content goes here
      p Left side content here
        

  // Bootstrap Modal structure
  div#itemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h5#modalLabel.modal-title Item
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        div.modal-body
          form#itemForm
            input(type='hidden', name='itemId')
            input(type='text', name='name', placeholder='Item Name', class='form-control')
            input(type='text', name='details', placeholder='Description', class='form-control')
            // Moved the Save changes button inside the form
            button.btn.btn-primary(type='submit') Save changes
        div.modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  script(src="/js/itemFormHandler.js")
