div.d-flex.align-items-center.justify-content-start
  h1.mb-0 Items
  button.btn.btn-success#addNewItemButton.ml-3
    i.fas.fa-plus
// Search bar
input#itemSearch(type='text', class='form-control mb-3', placeholder='Search items...')
// Header row
//- div.list-header.justify-content-between.align-items-center
//-   span Name
//-   span Details
ul.items-list.list-group.scrollable-list
  // Your list items will be populated here as before


// Bootstrap Modal structure
div#itemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
  div.modal-dialog(role='document')
    div.modal-content
      div.modal-header
        h5#modalLabel.modal-title Add a New Item
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      div.modal-body
        form#itemForm
          input(type='hidden', name='itemId')
          input(type='text', name='name', placeholder='Item Name', class='form-control')
          input(type='text', name='details', placeholder='Description', class='form-control')
          // Moved the Save changes button inside the form
      div.modal-footer
        button.btn.btn-primary#saveItemButton(type='button') Save changes
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close


script(src="/js/items.js")
