
/* fantasy-theme.css */
.navbar-dark.bg-dark {
  background-color: #333 !important; /* Darker tone for a medieval feel */
  border-bottom: 2px solid gold; /* Add a touch of gold */
}

.navbar-brand {
  font-family: 'DnDFont', serif; /* Use a D&D style font */
  color: gold !important; /* Gold color for the brand */
}

.nav-link {
  font-family: 'DnDFont', serif; /* Consistent font for navigation links */
  color: #ddd !important; /* Lighter text for contrast */
}

.nav-link:hover {
  color: gold !important; /* Gold color on hover */
}

body {
  background-color: #f4e9d8;
  font-family: 'Times New Roman', serif;
}

h1 {
  color: #5d3a3a;
}

.items-list {
  /* Ensure the list takes the full height if needed */
  height: 100vh;
  overflow-y: auto;
}

.item {
  background-color: #fff3e6;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.hide-item {
  display: none !important;
}

.item h2 {
  color: #5d3a3a;
}

.description {
  font-style: italic;
}

strong {
  color: #804000;
}

.modal {
  z-index: 1050; /* Keep this */
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Simplified background-color */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.left-content, .right-content {
  flex: 1;
}

.left-content {
  /* Adjust padding or margin as needed */
  padding-right: 20px;
}

