
/* fantasy-theme.css */
.navbar-dark.bg-dark {
  background-color: #333 !important; /* Darker tone for a medieval feel */
  border-bottom: 2px solid gold; /* Add a touch of gold */
}

.navbar-brand {
  font-family: 'DnDFont', serif; /* Use a D&D style font */
  color: gold !important; /* Gold color for the brand */
}

.nav-link {
  font-family: 'DnDFont', serif; /* Consistent font for navigation links */
  color: #ddd !important; /* Lighter text for contrast */
}

.nav-link:hover {
  color: gold !important; /* Gold color on hover */
}

body {
  background-color: #f4e9d8;
  font-family: 'Times New Roman', serif;
}

h1 {
  color: #5d3a3a;
}

.rotate {
  transform: rotate(90deg); /* Adjust the degree as necessary */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.containerItemRow {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}
.details-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line as needed */
}

.detailInputs {
  flex: 1 1 50%; /* Grow to fill the space, but start with a basis of 50% */
  /* Optional: add some padding or margin for spacing between the divs */
}

.item {
  position: relative;
}

.saveItem {
  background-color: #3da86b; /* Harmonizing with the color scheme */
  color: #fff; /* Contrast for readability */
  border: none; /* Modern, flat design */
  padding: 10px 20px; /* Adequate padding for touch targets */
  font-size: 16px; /* Readable text size */
  cursor: pointer; /* Indicates interactivity */
  border-radius: 5px; /* Softened corners */
  transition: background-color 0.3s ease; /* Smooth transition for interaction */
  box-shadow: 0 2px 4px rgba(41, 152, 83, 0.2); /* Subtle shadow for depth */
}

.saveItem:hover {
  background-color: #8bc43a; /* Slightly lighter on hover for feedback */
}


.bottomright {
  position:absolute;
  bottom:20px;
  right:20px;
}

.topright {
  position:absolute;
  top:15%;
  right:20px;
}

.item-icon {
  position: absolute;
  top: 12px;
  left: 2px;
  /* Adjust the size, color, or any other properties as needed */
}

.detailInputs, .rightInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightInputs {
  flex: 1; /* Takes up the other half */
  /* Aligns the two inputs vertically */
  max-width: 50%; /* Adjusts the maximum width to prevent overly wide inputs */
}
.leftInputs {
  flex: 1; /* Takes up the other half */
  /* Aligns the two inputs vertically */
  max-width: 50%; /* Adjusts the maximum width to prevent overly wide inputs */
}

.items-list {
  max-height: 800px; /* Adjust based on your needs */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Needed for sticky positioning context */
}
.item {
  /* background-color: #fff3e6; */
  /* margin-bottom: 10px; */
  padding: 10px;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
}
/* CSS */
.expanded {
  height: auto; /* Adjust this value as needed */
  overflow: hidden; /* Keep the content within the container */
}

.scrollable-list {
  max-height: 740px;
  overflow-y: auto;
}
.arrow {
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
  align-self: flex-start; /* Aligns the arrow to the top */
}

.arrow.expanded {
  transform: rotate(90deg);
}

.list-header {
  display: flex;
  background-color: #f8f9fa; /* Light grey background */
  padding: 8px 20px; /* Add some padding */
  position: sticky;
  top: 0; /* Stick to the top of the container */
  z-index: 100; /* Ensure it stays above other content */
}
.containerItemRow {
  width: 100%; /* Make the element take up the full width */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* This will space out the dropdowns evenly */
}

.category-dropdown {
  flex-basis: calc(33.333% - 10px); /* Adjust the -10px based on your gap */
  margin-bottom: 10px; /* Space between rows */
}

li .containeritemrow {
  width: 100%; /* Ensure it takes up the full width of its parent <li> */
  display: flex; /* Use flexbox to manage the layout */
  justify-content: space-between; /* This will space out the child elements */
  align-items: center; /* Align items vertically */
  padding: 0 0px; /* Add some padding on the sides for spacing, adjust as needed */
  box-sizing: border-box; /* Include padding in the element's total width */
}

/* No changes needed here, this ensures .containeritemrow uses a column layout */
.containeritemrow {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 8px;
}

/* New CSS for the spans container */
.spans-container {
  display: flex; /* Lay out the spans horizontally */
  justify-content: space-between; /* Space out the spans */
  width: 100%; /* Take up the full width */
  padding: 0  0 10px 15px; /* Optional padding for spacing, adjust as needed */
}

.containeritemrow .editable {
  margin-bottom: 8px; /* Add some space below each span */
}

.dropdowns {
  width: 100%; /* Ensure the dropdown takes up the full width */
}

.hide-item {
  display: none !important;
}

.item h2 {
  color: #5d3a3a;
}

.description {
  font-style: italic;
}

strong {
  color: #804000;
}

.modal {
  z-index: 1050; /* Keep this */
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Simplified background-color */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.left-content, .right-content {
  flex: 1;
}

.left-content {
  /* Adjust padding or margin as needed */
  padding-right: 20px;
}

